matplotlib==3.7.1 ; python_version >= "3.8" and python_version < "3.12"
mpi4py==3.1.4 ; python_version >= "3.8" and python_version < "3.12"
numpy==1.24.2 ; python_version >= "3.8" and python_version < "3.12"
scipy==1.10.1 ; python_version >= "3.8" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.12"
